*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}

header{
    background-color: red;
    min-height: 200px;
}

main{
    background-color: green;
    min-height: 500px;
}

footer{
    background-color: yellow;
    min-height: 200px;
}